table {
    position: relative;
}

table,  tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

caption {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    text-align: center;
  }

td {
    text-align: center;
}

#title {
    background-color: black;
    color: white;
}

#header {
    background-color: #333333;
    color: white;
}

#blank {
    background-color: black;
}