@font-face {
  font-family: "Inter";
  src: url("Inter-VariableFont_slnt,wght.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-VariableFont_wght.ttf") format("ttf");
}

body {
  font-family: "Raleway", sans-serif;
  color: #0d1b2a;
  background-color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #084b7e;
}

header span {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }

/* Hamburger Menu */
#hamburger_menu {
  font-size: 2rem;
  border: none;
  background: none;
  color: #000;
  position: absolute;
  top: 1px;
  left: 5px;
  cursor: pointer;
}

#hamburger_menu::before {
  content: "\2630";
}

#hamburger_menu.open::before {
  content: "✖︎";
  color: black;
}

/* End of Hamburger Menu */

.navigation {
  background-color: #ffffff;
  display: none;
}

.navigation.open {
    display: block; /* when hamburger menu is clicked, it shows the nav */
  }

.navigation a {
  display: flex;
  flex-direction: column;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 8px;
}

.navigation  a:hover {
    color: #beccd6;
  }

.hero img {
  max-width: 100%;
  height: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
    text-align: center;
    font-size: 10px;
  }

.events {
    background: #beccd6;
    color: #beccd6;
}

.weather {
    background: #2468b0;
    color: white;
}

.spotlights {
    background: #beccd6;
    color: #beccd6;
}

.events,
.weather {
  width: 100%;
}

.events,
.spotlights {
  color: #2468b0;
}

footer {
    text-align: center;
    background: #0f1e2e;
    color: #7f8790;
}
