@font-face {
  font-family: "Inter";
  src: url("Inter-VariableFont_slnt,wght.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-VariableFont_wght.ttf") format("ttf");
}

body {
  font-family: "Raleway", sans-serif;
  color: #0d1b2a;
  background-color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #2f3e46;
}

/* Hamburger Menu */
#hamburger_menu {
  font-size: 2rem;
  border: none;
  background: none;
  color: #000;
  position: absolute;
  top: 1px;
  left: 5px;
  cursor: pointer;
}

#hamburger_menu::before {
  content: "\2630";
}

#hamburger_menu.open::before {
  content: "✖︎";
  color: black;
}

/* End of Hamburger Menu */

.navigation {
  background-color: #2f3e46;
  display: none;
}

.navigation.open {
  display: block; /* when hamburger menu is clicked, it shows the nav */
}

.navigation a {
  display: flex;
  flex-direction: column;
  color: #cad2c5;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 5px;
}

.navigation a:hover {
  background-color: #84a98c;
  color: black;
}

/* Hero Image */
.hero {
  position: relative;
}

.hero img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.65;
}

.hero-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #084b7e;
  padding: 10px 20px;
  border: 2px solid #084b7e;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #084b7e;
  color: #ffffff;
}

.centered {
  position: absolute;
  top: 30%; /* Adjust this value to position the text vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 24px;
}
/* End of Hero Image */

.container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 10px;
  text-align: center;
  font-size: 10px;
}

.events {
  background: #beccd6;
  color: #beccd6;
}

.weather {
  background: #2468b0;
  color: white;
}

.spotlights {
  background: #beccd6;
  color: #beccd6;
}

.events,
.weather {
  width: 100%;
}

.events,
.spotlights {
  color: #2468b0;
}

footer {
  text-align: center;
  background: #0f1e2e;
  color: #7f8790;
}
