@media only screen and (min-width: 600px) {
  .navigation,
  .navigation.open {
    display: flex;
    justify-content: space-around;
  }

  .navigation {
    height: 100px;
  }

  .navigation a {
    display: inline-block;
    padding: 40px 20px;
    font-size: 15px;
  }

  /* Start of Hero */

#hero-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* End of Hero */

  /* Hide hamburger button */
  #hamburger_menu {
    display: none;
  }
}
