@media only screen and (min-width: 600px) {
  .navigation,
  .navigation.open {
    display: flex;
    justify-content: space-around;
  }

  .navigation {
    height: 100px;
  }

  .navigation a {
    display: inline-block;
    padding: 40px 20px;
    font-size: 15px;
  }

  /* Start of Hero */

  #hero-text {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  #hero-text h1 {
    font-size: 50px;
  }

  /* End of Hero */

  /* Hide hamburger button */
  #hamburger_menu {
    display: none;
  }

.container1 {
  grid-template-columns: 2fr 1fr;
}

.container2 {
  grid-template-columns: 1fr 1fr 1fr;
}

/* for the discover.html */
.discover-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

.main-area {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* for the join.html */

}
