body {
  font-family: "Open Sans";
  color: #0d1b2a;
  background-color: #cad2c5;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
  background-color: #2f3e46;
}

header span {
  display: flex;
  align-items: center;
  color: #cad2c5;
  font-size: 30px;
}

header img {
  margin-right: 10px;
  max-width: 100px;
  box-shadow: 5px 5px 2.5px #000;
}

/* Hamburger Menu */
#hamburger_menu {
  font-size: 2rem;
	border: none;
	background: none;
	color: #fff;
 	position: absolute;
	top: 16px;
	left: 16px;
  cursor: pointer;
}

#hamburger_menu::before {
	content: "\2630";
}

#hamburger_menu.open::before {
	content: "✖︎";
    color: white;
}

/* End of Hamburger Menu */

/* Dark Mode */
#dark_mode {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 24px;
    cursor: pointer;
}

.dark-mode main {
  background-color: #2b2b2b;
  color: #bec7bb;
  box-shadow: #bec7bb;
}


/* End of Dark Mode */

.navigation {
  background-color: #354f52;
  display: none;
}

.navigation.open {
  display: block; /* when hamburger menu is clicked, it shows the nav */
}

.navigation a {
  display: flex;
  flex-direction: column;
  color: #cad2c5;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

.navigation  a:hover {
  background-color: #84a98c;
  color: black;
}

.active {
  background-color: #778da9;
  color: white;
}

main {
  position: relative;
  margin-top: -20px;
}

main h1 {
  border-bottom: 3px solid #2f3e46;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  border: 5px solid #2f3e46;
  box-shadow: 10px 10px 5px #2f3e46;
  padding: 50px;
  margin: 20px;
}

/* how do i make the first card longer???
.card:nth-child(1) {
  grid-column: 1 / span 1; /* This will make the first card span two columns
} */

.card ul {
  list-style-type: none;
}

main h2 {
  background-color: #354f52;
  color: #cad2c5;
  text-align: center;
}

footer {
  padding: 20px;
  text-align: center;
  background: #2f3e46;
  margin-top: -10px;
  color: #cad2c5;
}

